<!doctype html>
<html>
<head>
    <title>Socket.IO chat</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
        form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
    </style>
</head>
<body>

<div>
    <aside>
        <div class="rooms"></div>
        <div class="new_room">
            <input type="text" class="room_name_input" name="room_name">
            <button class="add_room">+ Add new room</button>
        </div>
    </aside>
    <ul id="users"></ul>
    <ul id="messages"></ul>
    <div id="tipping"></div>
    <form action="">
        <input id="m" autocomplete="off"/>
        <button>Send</button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    (function ($) {
        var selectors = {
            rooms: document.querySelector('.rooms')
        };
        var cacheSelector = {};
        var socket = io();
        var users = $('#users');
        var messages = $('#messages');
        var username;
        var channel_name = "home";
        var add_btn = document.querySelector('.add_room');
        var new_channel_name = document.querySelector('.room_name_input');

        add_btn.addEventListener('click', () => {
            if (new_channel_name.value === '') {
                alert('new room name cannot be null!!');
                return;
            }

            socket.emit('room.create', JSON.stringify({ 'username': username }), new_channel_name.value);

            new_channel_name.value = '';
        })

        if (typeof(Storage) !== undefined) {
            username = localStorage.getItem('username');
            console.log(`username from localStorage is ${username}`);
        }

        while (username === undefined || username === null || username.trim() === '') {
            username = prompt('What is your username?');

            if (typeof(Storage) !== undefined) {
                localStorage.setItem('username', username);
            }
        }

        socket.emit('chat.join', JSON.stringify({ 'username': username }), channel_name);

        cacheSelector.message = $('#m');

        cacheSelector.message.focusin(function () {
            socket.emit('message.tipping', username)
        })

        cacheSelector.message.focusout(function () {
            socket.emit('message.end_tipping', username)
        })

        socket.on('message.tipping', function (username) {
            $('#tipping').append(`<span data-username='${username}'>${username} is tipping...</span>`);
        })

        socket.on('message.end_tipping', function(username) {
            $('#tipping').find(`span[data-username="${username}"]`).remove();
        })

        $('form').submit(function(e){
            if (cacheSelector.message.val() !== "") {
                socket.emit('chat.message', cacheSelector.message.val());
                cacheSelector.message.val('');
                return false;
            }
            else {
                alert('Trying to send empty message');
                e.preventDefault();
            }
        });

        socket.on('chat.join', (data) => {
            console.log('chat.join');
            users.append(`<li class="${data.username}" data-username="${data.username}">${data.username}</li>`);
        });

        socket.on('chat.message', (json) => {
            showMsg(json);
        });

        socket.on('chat.leave', (user) => {
            console.log('chat.leave');
            messages.append(`<span>${user.username} leaved the channel</span>`);
            //$(`li.${user.username}`).remove();
            users.find(`li[data-username="${user.username}"]`).remove();
        });

        socket.on('rooms', (rooms) => {
            rooms.forEach(room => {
                console.log(document.querySelector(`div#${room}`));
                if (!document.querySelector(`div#${room}`)) {
                    var div = document.createElement('div');

                    console.log(room);
                    div.className = 'room';
                    div.id = room;
                    div.setAttribute('data-channel-name', room);
                    div.innerHTML = `<a href="#">${room}</a>`;

                    selectors.rooms.appendChild(div);
                }
            });
        });

        socket.on('messages.getAll', (datas) => {
            datas = datas.reverse();
            datas.forEach(function(msg) {
                showMsg(msg);
            });
        });

        function showMsg (json) {
            const data = JSON.parse(json);
            var author_msg = "";
            username === data.username ? author_msg = "Moi" : author_msg = data.username;
            messages.append(`<li>${author_msg} : ${data.message}</li>`);
        }
    })(jQuery);
</script>

</body>
</html>