<!doctype html>
<html>
<head>
    <title>Socket.IO chat</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
        form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
    </style>
</head>
<body>
<ul id="users"></ul>
<ul id="messages"></ul>
<form action="">
    <input id="m" autocomplete="off"/>
    <button>Send</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    (function ($) {
        var cacheSelector = {};
        var socket = io();
        var users = $('#users');
        var messages = $('#messages ');
        var username;

        if (typeof(Storage) !== undefined) {
            username = localStorage.getItem('username');
            console.log(`username from localStorage is ${username}`);
        }

        while (username === undefined || username === null || username.trim() === '') {
            username = prompt('What is your username?');

            if (typeof(Storage) !== undefined) {
                localStorage.setItem('username', username);
            }
        }

        socket.emit('chat.join', JSON.stringify({ 'username': username }));

        cacheSelector.message = $('#m');
        $('form').submit(function(){
            socket.emit('chat.message', cacheSelector.message.val());
            cacheSelector.message.val('');
            return false;
        });

        socket.on('chat.join', (data) => {
            console.log('chat.join');
            var json = JSON.parse(data);
            users.append(`<li data-user='${json.username}'>${json.username}</li>`);
        });

        socket.on('chat.message', (json) => {
            console.log('chat.message => ', json);
            showMsg(json);
        });

        socket.on('messages.getAll', (datas) => {
            datas.forEach(function(msg) {
                showMsg(msg);
            })
        })

        function showMsg (json) {
            const data = JSON.parse(json);
            var author_msg = "";
            username === data.username ? author_msg = "Moi" : author_msg = data.username;
            messages.append(`<li>${author_msg} : ${data.message}</li>`);
        }

        socket.on('chat.disconnect', (json) => {
            const data = JSON.parse(json);

            console.log(json, data, data.username + ' leave channel');

            users.find(`li[data-user="${data.username}"]`).remove();
        });

    })(jQuery);
</script>

</body>
</html>