<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Socket.IO chat</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css"
          integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!--<link rel="stylesheet" href="/dist/css/bulma.css">-->
    <link rel="stylesheet" href="/dist/css/style.css">
</head>
<body>
<div class="container main-content">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Chatrooms
            </div>
            <div class="panel-body">
                <div class="rooms"></div>
                <hr>
                <div class="new_room">
                    <input id="room_name_input" class="form-control" placeholder="Nom de la nouvelle chatroom">
                    <div class="text-center">
                        <button class="add_room btn btn-info">Créer une chatroom</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 all_messages">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Fil de discussion
            </div>
            <div class="panel-body">
                <div class="msg-container">
                    <ul id="messages"></ul>
                </div>
                <div class="text-center" id="events"></div>
                <form>
                    <input placeholder="Message" class="form-control" id="m" autocomplete="off"/>
                    <div class="text-center">
                        <button class="btn btn-info">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Membres connectés
            </div>
            <div class="panel-body">
                <ul id="users"></ul>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/socket.js"></script>
</body>
</html>